.DesktopIcon{
    margin: 10px;

}
.Desktop{
    background-image: url("source/wallpaper.png");
    background-position: center;
}
.TopBar{
    background-color: darkgray;
    border-bottom: 1px solid #666;
    border-radius: 0;
}
.BigLabel{
    color: lightgray;
    font-size: 40px;
    font-weight: bold;
}
.TimeStuff{
    color: lightgray;
    font-size: 40px;
}
.boxAlarm{
    background-color:black;
    font-size: 25px;
    border-radius: 10px;
    padding: 10px;
    button{
        all: unset;
    }
}