.DesktopIcon{
    margin: 10px;

}
.Desktop{
    background-image: url("source/wallpaper.png");
    background-position: center;
}
.TopBar{
    background-color: darkgray;
    border-bottom: 1px solid #666;
    border-radius: 0;
}
.BigLabel{
    color: lightgray;
    font-size: 40px;
    font-weight: bold;
}
.TimeStuff{
    color: lightgray;
    font-size: 40px;
}
.boxAlarm{
    background-color:black;
    font-size: 25px;
    border-radius: 10px;
    padding: 10px;
    button{
        all: unset;
    }
}
.IconNotSoSpammy{
    background-image: url("source/1.png");
    background-position: center;
}
.IconSendyMaily{
    background-image: url("source/2.png");
    background-position: center;
}
.IconThreeEyedRaven{
    background-image: url("source/3.png");
    background-position: center;
}
.IconNotSoNotSecure{
    background-image: url("source/4.png");
    background-position: center;
}
.IconNotSoNotFallty{
    background-image: url("source/5.png");
    background-position: center;
}
.IconJustaGuiFramework{
    background-image: url("source/6.png");
    background-position: center;
}
.IconNotSoSpacy{
    background-image: url("source/7.png");
    background-position: center;
}
.IconNotSoNotSpooky{
    background-image: url("source/8.png");
    background-position: center;
}
