.DesktopIcon{
    margin: 10px;

}
.Desktop{
    background-image: url("source/wallpaper.png");
    background-position: center;
}
.TopBar{
    background-color: darkgray;
    border-bottom: 1px solid #666;
    border-radius: 0;
}
.BigLabel{
    color: lightgray;
    font-size: 40px;
    font-weight: bold;
}
.TimeStuff{
    color: lightgray;
    font-size: 40px;
}
.boxAlarm{
    background-color:black;
    font-size: 25px;
    border-radius: 10px;
    padding: 10px;
    button{
        all: unset;
    }
}
.IconNotSoSpammy{
    background-image: url("source/NotSoSpammy.png");
    background-position: center;
}
.IconSendyMaily{
    background-image: url("source/SendyMaily.png");
    background-position: center;
}
.IconThreeEyedRaven{
    background-image: url("source/ThreeEyedRaven.png");
    background-position: center;
}
.IconNotSoNotSecure{
    background-image: url("source/NotSoNotSecure.png");
    background-position: center;
}
.IconNotSoNotFallty{
    background-image: url("source/NotSoNotFallty.png");
    background-position: center;
}
.IconJustaGuiFramework{
    background-image: url("source/JustaGuiFramework.png");
    background-position: center;
}
.IconNotSoSpacy{
    background-image: url("source/NotSoSpacy.png");
    background-position: center;
}
.IconNotSoNotSpooky{
    background-image: url("source/NotSoNotSpooky.png");
    background-position: center;
}
